body {
    display: grid;
    grid-template-areas: "header"
                         "banner"

                         "footer"
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav li {
    display: block;
    padding: 5px;
}


h1 {
  font-size: 50px;
  color: black;
}

body {
  background-color: #a4c1b7;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.edit_button{
  text-decoration: none;
  border: 5px solid brown;
  background: orange;
  color: black;
  width: 50px;
  height: 30px;
}

.delete_button{
  border: 5px solid brown;
  background: red;
  width: 50px;
  height: 30px;
}
