body {
  display: grid;
  grid-template-areas: "header"
                       "banner"
                       "content"
                       "footer"
}

header {
  grid-area: header;
  background-color: lightcyan;
}


header span {
  float: left;
  padding-top: 21px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav li {
  display: block;
  padding: 5px;
}

footer {
  grid-area: footer;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: gray;
  width: 100%;
  height: 5%;
}