<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Invoices Index</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/master.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/merchants/merchant_index.css" />
</head>

<body>
<header>
  <span>LittleShop</span>
  <nav>
    <ul>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="/items">Items</a></li>
      <li><a href="/invoices">Invoices</a></li>
    </ul>
  </nav>
</header>


    <banner>
        <a id="dashboard" href="/merchants-dashboard"><p>Dashboard</p></a>
        <span class="center">
          <h1>Invoices</h1>
        </span>
    </banner>



<body>
  <% @invoices.each do |invoice|%>
    <div class="list">
      <h1><%= invoice.id %> </h1>
      <a class='edit_button' href="/invoices/<%= invoice.id  %>/edit">Edit</a>
      <input type="hidden" name="_method" value="DELETE">
      <input class='delete_button' type="submit" id="delete_invoice_<%= invoice.id %>" value="delete ">
    </div>
  <% end %>
  </body>
