<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Merchants Index</title>
  <link rel="stylesheet" type="text/css" href="./stylesheets/css/master.css" />
</head>

<body>
<header>
  <span>LittleShop</span>
  <nav>
    <ul>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="/items">Items</a></li>
      <li><a href="/invoices">Invoices</a></li>
    </ul>
  </nav>
</header>

<section class="hero">
    <a href="#"><p>Dashboard</p></a>
    <div class="hero-center">
      <h1>Merchants</h1>
      <button type="button"><a href='/merchants/new'>Create a New Merchant</a></button>
    </div>
</section>

<table style="width:100%">
<% @merchants.each do |merchant| %>
  <tr>
    <td><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>

    <td><button><a id="edit" href="/merchants/<%= merchant.id %>/edit">Edit</a></button></td>
    <td><form action="/merchants/<%= merchant.id %>" method="POST">
      <input type="hidden" name="_method" VALUE='DELETE'>
      <input type="button" value="Delete"/>
      </form>
    </td>
  </tr>
<%end%>
</section>

<footer></footer>

</body>
</table>

</html>