<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Merchants Index</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/master.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/merchants/merchant_index.css" />
</head>

<body>
<header>
  <span>LittleShop</span>
  <nav>
    <ul>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="/items">Items</a></li>
      <li><a href="/invoices">Invoices</a></li>
    </ul>
  </nav>
</header>

  
    <banner>
        <a id="dashboard" href="/merchants-dashboard"><p>Dashboard</p></a>
        <span class="center">
          <h1>Merchants</h1>
          <button>
            <a id="new_merch" href='/merchants/new'>
              Create a New Merchant
            </a>
          </button>
        </span>
    </banner>

  <content>
    <table>
      <% @merchants.each do |merchant| %>
        <tr>
          <td>
            <a class="title" href="/merchants/<%= merchant.id %>">
              <%= merchant.name %>
            </a>
            <div class="table_buttons">
              <ul>
                <li>
                  <a href="/merchants/<%= merchant.id %>/edit">
                    <button class="edit_button">
                      Edit
                    </button>
                  </a>
                </li>
                <li>
                  <form  action="/merchants/<%= merchant.id %>" method="POST">
                    <input type="hidden" name="_method" VALUE='DELETE'>
                    <input class="delete_button" type="submit" value="Delete"/>
                  </form>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <%end%>
    </table>
  </content>


</body>

</html>