<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="./stylesheets/css/master.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./stylesheets/css/merchants/merchants-dashboard.css" />

</head>
<body>

  <header>
    <span>LittleShop</span>
    <nav>
      <ul>
        <li><a href="/merchants">Merchants</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/invoices">Invoices</a></li>
      </ul>
    </nav>
  </header>

  <banner>
    <h1 class="center">Merchants Dashboard</h1>
  </banner>

  <content>
    <div id="top_merchants">
      <div id="most_items">
        <h3>Merchants With The Most Items:</h3>
        <a href="/merchants/<%=@highest_item_count.id%>">
          <%=@highest_item_count.name%>
        </a>
      </div>
      <div id="highest_price">
        <h3>Merchants With The Highest Price Item:</h3>
        <a href="/merchants/<%=@highest_priced_item.id%>">
          <%=@highest_priced_item.name%>
        </a>
      </div>
    </div>
  </content>

</body>
</html>