<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" media="screen" href="./stylesheets/css/master.css" />
</head>

<form action="/merchants/" method="post">
    <p>Create New Merchant</p>
    Name:<input type='text' name='merchant[name]'/><br/>
    <input type='submit'/>
    <button><a href='/merchants'>Cancel</a></button>
</form>