<form action="/merchants/" method="post">
    <p>Enter a new merchant:</p>
    <input type='text' name='merchant[name]'/><br/>
    <input type='text' name='merchant[merchant_id]'><br/>
    <input type='submit'/>
</form>