<!DOCTYPE html>
<form action="/merchants/" method="post">
    <p>Create New Merchant</p>
    Name:<input type='text' name='merchant[name]'/><br/>
    <input type='submit'/>
    <button><a href='/merchants'>Cancel</a></button>
</form>