banner {
  grid-area: banner;
  background-color: grey;
  border: 5px solid brown;
}

banner #dashboard {
  float: left;
  margin: 0px 0px 0px 5px;
  width: 70px;
  height: 20px;
  padding: 0px 5px 5px 5px;
}

banner .center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

banner .center button {
  text-decoration: none;
  border: 3px solid brown;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#new_merch {
  font-size: 15px;
  color: black;
  text-decoration: none;
}

table {
  margin: 20px;
}

table td{
  height: 0px;
  border:3px solid brown;
}
.title {
  float: left;
  padding: 30 10 0 10;
  text-decoration: none;
}

table td .table_buttons {
  float: right;
  padding: 0 0 0 0;
  display: inline;
}

table td .table_buttons ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.edit_button{
  text-decoration: none;
  border: 5px solid brown;
  background: orange;
  color: black;
  width: 50px;
  height: 30px;
}

.delete_button{
  border: 5px solid brown;
  background: red;
  width: 50px;
  height: 30px;
}