<head>
<link rel="stylesheet" type="text/css" href="Users/jamisonordway/desktop/turing/2module/projects/little-shop-redux/app/css/new_item.css">
</head>

<form class='new-item' action='/items' method='post'>
  <h1>New Item</h1>
  <p>Title: <input type='text' name='item[title]' placeholder='title'></p>
  <p>Description: <input type='text' name='item[description]' placeholder='description'></p>
  <p>Price: <input type ='text' name='item[price]' placeholder='price'></p>
  <p>Image: <input type='text' name='item[img]' placeholder='image'></p>
  <p><input type='submit' value='Submit'></p>

  <p>Merchant:
    <div class="dropdown">
  <button class="dropbtn">Merchants</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
</p>

</form>
