<form class='new-item' action='/items' method='post'>
  <h1>New Item</h1>
  <p>Title: <input type='text' name='item[title]' placeholder='title'></p>
  <p>Description: <input type='text' name='item[description]' placeholder='description'></p>
  <p>Price: <input type ='text' name='item[price]' placeholder='price'></p>
  <p>Image: <input type='text' name='item[img]' placeholder='image'></p>
  <p><input type='submit' value='Submit'></p>

  <p>Merchant:
    <div class="dropdown">
      <button class="dropbtn">Dropdown
        <i class="fa fa-caret-down"></i>
          </button>
            <div class="dropdown-content">
              <li>Merchant 1</li>
              <li>Merchant 2</li>
              <li>Merchant 3</li>
            </div>
    </div>
</p>

</form>
