<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" media="screen" href="./stylesheets/css/master.css" />
</head>

<body>
  <header>
    <span>LittleShop</span>
      <nav>
        <ul>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/items">Items</a></li>
          <li><a href="/invoices">Invoices</a></li>
        </ul>
      </nav>
    </span>
  <header>
  <form class='new-item' action='/items' method='post'>
    <h1>New Item</h1>
    <p>Name: <input type='text' name='item[name]' placeholder='name'></p>
    <p>Description: <input type='text' name='item[description]' placeholder='description'></p>
    <p>Unit_Price: <input type ='text' name='item[unit_price]' placeholder='unit_price'></p>
    <p>Image: <input type='text' name='item[img]' placeholder='image'></p>
    <p>Merchant:
      <select name='merchants'>
        <% @merchants.each do |merchant| %>
        <option value='merchant'>
          <%= merchant.name %>
        </option>
        <% end %>
      </select>
    </p>
    <p><input type='submit' value='Submit'></p>

  </form>
</body>
